html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:lightsteelblue;
}

#index {
  float: left;
  margin: 0.5%;
width: 17%;
}

div img {
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

#pantallaMuestra {
  align-items: center;
  width: 60%;
  height: 60%;
}

h2 {
  font-weight: 400;
}